.hero {
  &__bg {
    @apply absolute left-0 right-0 z-0 w-full; //koment
    height: 150%;
    top: -400px;
    background: linear-gradient(260.13deg, #07172d 5.04%, #132e52 89.48%);
    transform: skewY(-8deg);

    &::after {
      content: "";
      width: 60%;
      height: 60px;
      bottom: -60px;
      @apply absolute right-0 bg-gradient-orange;
      transform: rotate(-180deg);
    }

    &--business {
      @apply absolute left-0 right-0 z-0 w-full bg-grey-700; //koment
      height: 210%;
      top: -400px;
      transform: skewY(-8deg);

      &::after {
        content: "";
        width: 60%;
        height: 60px;
        bottom: -60px;
        @apply absolute right-0 bg-gradient-orange;
        transform: rotate(-180deg);
      }

      @screen lg {
        height: 180%;
      }

      @screen xl {
        height: 140%;
      }
    }
  }

  &__heading {
    h1 {
      @apply text-cam-white;

      strong {
        @apply bg-gradient-orange;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  h1 {
    strong {
      @apply bg-gradient-orange;
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
    }
  }
  /* purgecss end ignore */

  &__img {
    @apply hidden;
    right: 0%;
    top: 50%;
    width: 50%;
    transform: translate(20%, -50%);

    @screen lg {
      @apply block;
      right: 0;
    }

    @screen xl {
      right: 4%;
    }
  }
}

.hero-secondary {
  &__bg {
    @apply absolute left-0 right-0 z-minus w-full bg-grey-700; //koment

    @screen lg {
      height: 910px;
    }
    height: 1000px;
    top: -400px;
    transform: skewY(-8deg);

    &::after {
      content: "";
      width: 40%;
      height: 60px;
      bottom: -60px;
      @apply absolute right-0;
      background: linear-gradient(90deg, #ff512f 0%, #f09819 100%);
    }
  }
}
/* purgecss start ignore */
.for-who {
  &__bg {
    @apply absolute left-0 right-0 z-0 w-full bg-grey-700 h-full top-0;
    transform: skewY(-8deg);

    &::after {
      content: "";
      width: 50%;
      height: 60px;
      bottom: -60px;
      @apply absolute left-0;
      background-image: linear-gradient(90deg, #f09819 0%, #ff512f 100%);
    }
    &::before {
      content: "";
      width: 70%;
      height: 60px;
      top: -60px;
      @apply absolute right-0;
      background-image: linear-gradient(90deg, #ff512f 0%, #f09819 100%);
    }
  }
}

/* purgecss end ignore */
