.testimonial {
  @apply rounded-sm border-1 border-grey-200 flex flex-col justify-between h-full;
  background-image: linear-gradient(48.09deg, #fafaff 7.02%, #f3f8fe 93.99%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);

  &__img {
    @apply rounded-full mr-3;
    width: 2rem;
    height: 2rem;

    @screen sm {
      width: 3rem;
      height: 3rem;
    }
  }
  /* purgecss start ignore */
  &__link {
    @apply text-blue font-semibold leading-6;
    text-decoration: underline;
  }
  /* purgecss end ignore */
}
